body {
    margin-top: 2rem;
}

header{
    height: 60px;
}

/* main{
    height: calc(100vh - 100px);
} */


footer{
    height: 25px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    z-index: 999;
    background: #2E445A; /* cor menu */
    padding-inline: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

ul{
    margin-bottom: 0;
}

.nav {
    max-width: 1280px;
    height: 60px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img {
    height: 80%;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #ffffff; /* cor letra menu */
    padding-block: 16px;
    text-decoration: none;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid#fff; /* cor icone sanduiche */
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff; /* cor da letra do menu sanduiche */
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav-list>.hover {
    color: #F8D492!important; /* cor do ponto no menu */
    position: relative;
    text-transform: capitalize;
}

.nav-list>.hover::before {
    content: '';
    height: .65em;
    width: .65em;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -.90em;
    transform: translateY(-50%);
}

.nav-list> .selected {
    color: #fff; /* cor do ponto no menu */
    position: relative;
    text-transform: capitalize;
}

.nav-list> .selected::before {
    content: '';
    height: .65em;
    width: .65em;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -.90em;
    transform: translateY(-50%);
}

footer {
    background-color: #2E445A;
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 14px;
}

@media(max-width:750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #2E445A; /* cor menu sanduiche */
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}